[Unit]
Description=yt-dl-service

[Service]
ExecStart=/usr/bin/yt-dl-service /usr/share/yt-dl-service/settings.json
Restart=always

[Install]
WantedBy=multi-user.target